.form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper-edit {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  font-weight: bold;
  align-items: center;
}

.input-wrapper-edit input {
  border-radius: 5px;
  border: 1px;
  margin-left: 8px;
  padding: 8px;
}

.input-readOnly {
  position: relative;
}

.placeholder-style {
  color: #a7a7a7;
  font-size: italic;
  background-color: #e7e7e7;
}

.button-container {
  display: flex;
  gap: 8px;
}
